<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="shreks.androidinterview">

    <application
        android:allowBackup="true"
        android:icon="@drawable/android_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="shreks.androidinterview.FrontPage"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="Simple_question"></activity>
        <activity android:name="Tough_question"></activity>
    </application>

</manifest>
